{% extends 'web/bulma.html' %}
{% load static %}

{% block css %}
<link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.css" rel="stylesheet" type="text/css">
{% endblock css %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script>
{% if bokehjs %}
    {{ bokehjs|safe }}
{% endif %}
{% endblock js %}

{% block header %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'web:index' %}">
                <img src="{% static 'web/assets/img/logo_horizontal.svg' %}" height="30">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'web:index' %}">
                            <strong>Profile</strong>
                        </a>
                        <a class="button is-danger" href="{% url 'web:logout' %}">
                            <strong>Sign out</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</nav>
{% endblock header %}

{% block content %}
<section class="section has-background-light">
    <div class="container">
        {% if bokehdiv %}
            <h1 class="title">
                Analytics Dashboard
            </h1>
            <p class="subtitle">
                {% if user.first_name and user.last_name %}
                Welcome back <strong>{{ user.first_name }} {{ user.last_name }}</strong>!
                {% else %}
                Welcome back <strong>{{ user }}</strong>!
                {% endif %}
            </p>
            {% for row in bokehdiv %}
            <div class="columns">
                {% for _, plot in row.items %}
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                {{ plot|safe }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        {% else %}
            <h1 class="title">
                Sorry! You do not have access to this page.
            </h1>
        {% endif %}
    </div>
</section>
{% endblock content %}

{% block footer %}
{% endblock footer %}